* {
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #eee;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.45;
    font-size: 14px;
}

.content {
    padding: 3%;
    flex: 1 1 80%;
    min-height: 200vh;
    max-width: 60%;
    margin: 0 auto;
}

.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(24, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 15px;
}

.portfolio-item {
    background-color: orange;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-item.medium {
    grid-row: span 4;
    grid-column: span 4;
}

.portfolio-item.large {
    grid-row: span 6;
    grid-column: span 6;
}

.portfolio-item.small {
    grid-row: span 2;
    grid-column: span 2;
}

.portfolio-item.tall {
    grid-row: span 6;
    grid-column: span 4;
}

.portfolio-item.wide {
    grid-row: span 4;
    grid-column: span 6;
}