* {
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #eee;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.45;
    font-size: 14px;
}

.content-wide {
    padding: 3%;
    flex: 1 1 80%;
    min-height: 100vh;
    max-width: 60%;
    margin: 0 auto;
}

.portfolio__wide {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
}

.portfolio__wide-item {
    background-color: orange;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__wide-item.wide--medium {
    grid-row: span 2;
    grid-column: span 2;
}

.portfolio__wide-item.wide--small {
    grid-row: span 1;
    grid-column: span 1;
}

.portfolio__wide-item.wide--wide {
    grid-row: span 2;
    grid-column: span 3;
}